@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

a {
    color: currentColor;
    font-weight: 500;
}

a:hover {
    color: #de0007;
}

footer {
    margin: 0 auto 1rem auto;
}

small {
    font-size: 14px
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

.noselect {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

img {
    pointer-events: none;
}

body {
    background: #131418;
    min-height: 100vh;
    font: 400 16px/1.85 'SF Pro Display', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    color: #fff !important;
}

body>div {
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
    padding: 10px 17px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

code {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 8px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
}

code:hover {
    border-color: rgba(222, 0, 7, 0.5);
    background-color: rgba(222, 0, 7, 0.1);
}

h2 {
    color: #de0007;
}

body>div>div:has(video), body>div>div:has(img) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

img, video {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;

    /* https://dev.to/martyhimmel/quick-tip-to-stop-flexbox-from-overflowing-peb */
    flex: 1 1 0;
    min-width: 0;
}

@media screen and (max-width: 767px) {
    img, video {
        min-width: 100%;
    }
}