@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --background-speed: 10;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

.noselect {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

img {
    pointer-events: none;
}

body {
    background: #131418;
    min-height: 100vh;
    font: 400 16px/1.85 'SF Pro Display', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    color: #fff !important;
}

/* https://codepen.io/chris22smith/pen/RZogMa */
.bg {
    animation: slide calc(var(--background-speed) * 1s) ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #333 50%, #131418 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;

    /* remove this to show the animation */
    display: none;
}

.bg2 {
    animation-direction: alternate-reverse;
    /* https://stackoverflow.com/a/66157356 */
    animation-duration: calc(var(--background-speed) * 1s + 1s);
}

.bg3 {
    animation-duration: calc(var(--background-speed) * 1s + 2s);
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

a {
    color: currentColor;
    font-weight: 500;
}

a:hover {
    color: #de0007;
}

footer {
    margin: 0 auto 1rem auto;
}

small {
    font-size: 14px
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

.author {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10rem;
}

.author-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    user-select: none;
    background-color: #0d122b;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation: .5s ease-in forwards fadein;
    animation: .5s ease-in forwards fadein;
    opacity: 1;
    /* border: 2px solid #fff; */   
}

.flip-container {
    perspective: 1000;
    -webkit-perspective: 1000;
    background: transparent;
    align-self: center;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
.flip-container img {
    width: 9rem;
    height: 9rem;
}

.flipper {
    transition: .50s;
    -webkit-transition: .50s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.author-bio {
    margin: 0 auto;
    text-align: center;
    opacity: .6;
    max-width: 393px;
    line-height: 1.688;
}

.author-name {
    text-align: center;
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 27.2px
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}